---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install common packages
  apt:
    name: "{{ common_packages }}"
    state: present
    update_cache: yes

- name: Disable swap
  shell: swapoff -a
  when: swap_disable

- name: Remove swap from fstab
  lineinfile:
    path: /etc/fstab
    regexp: '^.*swap.*$'
    state: absent
  when: swap_disable

- name: Set hostname
  hostname:
    name: "{{ inventory_hostname }}"

- name: Add hosts entries
  lineinfile:
    path: /etc/hosts
    line: "{{ hostvars[item].ansible_host }} {{ item }}"
    state: present
  with_items: "{{ groups['all'] }}"

- name: Load kernel modules
  modprobe:
    name: "{{ item }}"
    state: present
  with_items: "{{ kernel_modules }}"

- name: Ensure kernel modules load on boot
  lineinfile:
    path: /etc/modules-load.d/k8s.conf
    line: "{{ item }}"
    create: yes
  with_items: "{{ kernel_modules }}"

- name: Configure sysctl parameters
  sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    state: present
    reload: yes
    sysctl_file: /etc/sysctl.d/k8s.conf
  with_dict: "{{ sysctl_config }}"

- name: Disable UFW firewall
  systemd:
    name: ufw
    state: stopped
    enabled: no
  ignore_errors: yes
  when: firewall_disable

- name: Disable AppArmor
  systemd:
    name: apparmor
    state: stopped
    enabled: no
  ignore_errors: yes

- name: Configure time synchronization
  apt:
    name: chrony
    state: present

- name: Start and enable chrony
  systemd:
    name: chrony
    state: started
    enabled: yes